.imageMain{
    background-repeat: no-repeat !important;
    border-radius: 10px;
    height: 160px;
    width: 220px;
    border: 1px solid rgb(175, 175, 175);
    background-position: center center !important;
    background-size: contain !important;
    margin-bottom: 10px;
}
.imageMain:hover{
    border: 1px solid black;
}