.inputMain {
  display: flex;
  position: relative;
  width: 50%;
  align-content: center;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.inputMain > input {
  border: 1px solid transparent;
}
.inputMain > input:hover {
  border: 1px solid black;
}

.btnCancelMain {
  display: flex;
  width: 13%;
  height: 15%;
  background: #e5e5e5;
  margin-left: 10px;
  border-radius: 5px;
  
}
.btnAddMain {
  display: flex;
  width: 18%;
  height: 15%;
  background: #f3b8b3;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
}

.labelGroup {
  width: 50%;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  align-content: center;
}
.labelGroup > div:nth-child(1) {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.labelGroup > div:nth-child(2) {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
