.inputMain {
  display: flex;
  position: relative;
  width: 100%;
  align-content: center;
  margin-bottom: 10px;
}
.inputMain>input {
  border: 1px solid transparent;
}
.inputMain>input:hover {
  border: 1px solid black;
}

.btnCancelMain {
  display: flex;
  background: #e5e5e5;
  width: 50px;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
}
.btnAddMain {
  display: flex;
  background: #f3b8b3;
  width: 50px;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
}
