.container{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #0000008f;
}

.buttonGroup{
    display: flex;
    align-items: center;
    opacity: 0;
}

.buttonGroup > div {
    margin-left: 10px;
    cursor: pointer;
}

.active{
    opacity: 1;
}