.MenuItemMain {
  width: 200px;
  display: flex;
  align-items: center;
}
.MenuItemMain > span:nth-child(1) {
  display: flex;
}

.MenuItemMain > span:nth-child(2) {
  display: flex;
}

.MenuItemMain > span:nth-child(3) {
  display: flex;
  position: absolute;
  right:10%;
}
