.radioSection {
	display: inline-block;
}
.radioSection:first-child {
	margin-right: 5px;
}

.checkBoxLabel {
	font-size: 14px;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

.comment {
	font-size: 12px;
}
.commentRed {
	font-size: 12px;
	color: #db4c3f;
}
button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}
