.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none !important;
  color: black !important;
  width: 100%;
}

.toggle::after {
  display: none;
}

.colorItem {
  margin-left: 10px;
  width: 100%;
}

.colorMenus {
  width: 100%;
}
