.grafana-tab-main {
  display: flex;
  position: sticky;
  top: 0;
  flex-flow: nowrap column;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 1.5em;
  padding-top: 160px;
  font-weight: 500;
  cursor: pointer;
}
.grafana-style {
  display: flex;
  position: relative;
  justify-content: center;
}
.grafana-content-main > div {
  color: aliceblue;
  background: black;
  font-size: 100px;
}
