.nav-main {
  width: 100%;
  display: inline-flex;
  position:relative;
  background: transparent;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  top:0;
}



.nav-main > .home-title {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 1;
  justify-content: center;
  font-weight: 500;
}

.nav-main > .tab-main {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 7;
  font-size: 0.8em;
  margin-top: 5px;
}

.nav-main > .tab-main > div {
  margin-right: 30px;
}

.nav-main > .tab-sub {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 2;
  justify-content: flex-end;
}

.nav-main > .tab-sub > div:nth-child(1) {
  margin-right: 20px;
}
.nav-main > .tab-sub > div:nth-child(2) {
  margin-right: 20px;
}

.nav-main-scrollY {
  width: 100%;
  height: 50px;
  display: inline-flex;
  position:sticky;
  background: transparent;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  top:0;
  z-index: 1000;
  background: url(./../../img/nav1.png);
}
.nav-sub-img1{
  background: url(./../../img/nav1.png);
}
.nav-sub-img2{
  background: url(./../../img/nav2.png);

}
.nav-sub-img3{
  background: url(./../../img/nav3.png);
}
.nav-sub-img4{
  background: url(./../../img/nav4.png);
}


.nav-main-scrollY > .home-title {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 1;
  justify-content: center;
  font-weight: 500;
}

.nav-main-scrollY> .tab-main {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 7;
  font-size: 0.8em;
  margin-top: 5px;
}

.nav-main-scrollY > .tab-main > div {
  margin-right: 30px;
}

.nav-main-scrollY> .tab-sub {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  flex-grow: 2;
  justify-content: flex-end;
}

.nav-main-scrollY > .tab-sub > div:nth-child(1) {
  margin-right: 20px;
}
.nav-main-scrollY > .tab-sub > div:nth-child(2) {
  margin-right: 20px;
}