.wrapper {
    display: flex;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: left;
    background-color: white;
    text-align: center;
}

.item {
    color: black;
    padding: 10px 16px;
    font-size: 20px;
    cursor: grab;
}

.loginBtn {
    margin-left: auto;
}

.logo {
    width: 150px;
    height: 50px;
    background: url('https://business.kakao.com/static/img/logo_biz.34693d3_1.16.10.png') no-repeat center center;
    background-size: contain;
}

.video {
    width: 100%;
    display: block;
}

.kakao_img {
    height: 500px;
    display: block;
    background: url('https://business.kakao.com/static/img/visual_cont1.0cb2c10_1.16.10.png') no-repeat center center;
    background-size: cover;
}

.mp4-wrap {
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.user-text {
    position: absolute;
    top: 70%;
    width: 100%;

    font-size: 70px;
    font-family: 'ypseo';
    text-align: center;
    color: white;
}

.user-page {
    position: absolute;
    top: 95%;
    right: 3%;
    width: 100%;

    font-size: 20px;
    font-family: 'ypseo';
    text-align: right;
    color: white;
}

.img-wrapper {
    position: relative;
}

.inner_text_first {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;

    font-size: 30px;
    font-family: 'ypseo';
    text-align: left;
    color: rgba(175, 169, 169, 0.836);
}


.inner_text_second {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;

    font-size: 40px;
    font-family: 'ypseo';
    text-align: left;
    color: white;
}