.main-bg{
  height: 300px;
  border: bold;
  background-image: url('./img/modeling.jpg');
  background-size: contain;
  border: bold;
  background-position: center center;
  height: 300px;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-main{
  list-style: none;
  color:black;
  margin: 5px;
  align-items: center;
}

/* Detail.js css */
.div-main{
  margin: 100px;
}
.div-sub{
  margin: 15px;
}

.btn-add{
  margin: 10px;
  background: black;
  color: white;
  border: gold 5px solid;
}