@charset "utf-8";

body, h1, p {
    margin: 0;
}

.header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.headerImage {
    width: 300px;
    height: 75px;
    background: url("../../../../0_asset/resource/kakao_biz_logo.png") no-repeat center center;
}

ul li {
    list-style: none;
    display: inline;
    margin: auto;
}

ul a {
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
 
.loginButton {
    margin-left: auto;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

button a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

button:hover, a:hover {
    background: skyblue;
}

.mainContent {
    position: relative;
    height: 100%;
}

.mainContent div video {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.videoContent { 
    position: absolute;
    width: 100%; 
    top: 60%
}

.videoContent p { 
    text-align: center; 
    font-size: 35px; 
    color: white; 
}

.backgroundImage {
    background: url("../../../../0_asset/resource/kakao_bg1.png") no-repeat center center;
    background-size: cover;
    height: 540px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 10%
}
  
.content p {
    font-size: 20px;
}

.content span {
    font-size: 35px;
    display: block;
}

table {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

th {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-size: 17px;
    padding: 15;
}

td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-size: 70px;
    padding: 10px;
}

tr > .tdFirst, .thFirst {
    border-right: 1px solid white;
}

.ecoSystem {
    position: relative;
}

.ecoSystem div video {
    width: 70%;
    height: 100%;
    margin-left: 30%;
}

.ecoSystem .ecoContent {
    position: absolute;
    margin-left: 25%;
    top: 30%
}

.ecoSystem .ecoContent > h3 {
    color: gray;
}

.ecoSystem .ecoContent > p {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.ecoSystemButton {
    margin-top: 30px;
    margin-left: auto;
    background-color: #f0f1f4;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}