.dropdown {
    display: flex;
    width: 300px;
    color: black !important;
    font-weight: bold;
    background-color: transparent !important;
    border: 1px solid black !important;
}

.dropdown::after {
    display: none !important;
}

.dropdownMenu {
    width: 300px;
}
