.btnSize {
  width: 100%;
  display: flex;
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  margin-right: 5px;
  color: inherit;
}

.btnNavHover:hover {
  background: #e37267;
}

.btnMenuHover:hover {
  background: #eeeeee;
}
