.button{
    background: #f9f9f900;
    transition: all 0.5s;
    border: none;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    align-items: center;
}
.button > span:nth-child(2) {
    padding-left:8px;
}
.button::after{
    padding-left: 30px;
}
.button:hover{
    background: #f9f9f980;
}