.todo {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;
  font-size: 13px;
  align-items: center;
}
.todoIcon {
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 100%;
  display: block;
  transition: all 0.5s;
}
.todoIconHover {
  border: 1px solid black !important;
}
.todoIconContainer {
  width: 16px;
  height: 16px;
  margin-right: 9px;
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none !important;
  cursor: text;
}
input {
  border: none;
  font-size: 13px;
  min-width: 500px;
  cursor: pointer;
}
