
.note a {
    margin-left: 10px;
    color: orangered !important;
    background-color: transparent;
    text-decoration: none;
}
.bookmark input:checked {
  background-color: #28a745;
}

.viewType {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: flex-start;
}

.viewType .form-check-input {
  border-radius: 50%;
}
.btn_save{
  background-color: #db4c3f;
  color: white;
  border: 1px solid transparent !important;
}

.btn_save:hover{
  background-color: #b03d32;;
  color: white;
}

.btn_cancel{
  background-color:#f5f5f5;
  color: black;
  border: 1px solid transparent !important;
}

.btn_cancel:hover{
  background-color: #e5e5e5;
  color: black;
}